root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./roost-dev ./cmd/roost-dev/"
bin = "./roost-dev"
full_bin = "./roost-dev"
include_ext = ["go"]
exclude_dir = ["tmp", "vendor"]
exclude_regex = ["_test\\.go"]
delay = 1000

[log]
time = false

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true
